<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{#if title}}{{title}} | {{/if}}E-Commerce</title>
  
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <nav>
      <a href="/products">Productos</a>
      <a href="/cart">Carrito</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; {{year}} - E-Commerce</p>
  </footer>
</body>
</html>